p {
  font-family: Lato;
}

.charts-container {
  display: flex;
  justify-content: space-between;
  column-gap: 8px;
}

.table {
  width: 100%;
  padding-top: 8px;
}

.app-container {
  padding-left: 20%;
  padding-right: 20%;
}